* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

/* Header */
header .main-header {
    background: #ff7043;
    padding: 10px 0;
}

header .main-header .container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-header .store-title {
    font-size: 34px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

header .main-header .search {
    margin-left: 15px;
}

header .main-header .search-input  {
    position: relative;
}

header .main-header .search-input button {
    position: absolute;
    right: 3px;
    top: 3px;
}

header .main-header .search-input input {
    padding: 14px 30px 14px 15px;
    border: 0;
    width: 120px;
    border-radius: 6px;
    transition: width 0.2s ease-in;
}

header .main-header .search-input button {
    width: 40px;
    height: 40px;
    border: 0;
    background: url('../images/etc/search-icon.png') no-repeat center center;
    cursor: pointer;
}

header .main-header .search-input input:focus {
    width: 240px;
    outline: 3px solid #e040fb;
}

header .main-header .links {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

header .main-header .links li {
    margin-left: 14px;
}

header .main-header .links a {
    color: #000;
    text-decoration: none;
    transition: all ease 0.2s;
}

header .main-header .links a:hover {
    color: #FFF;
}

header .secondary-header {
    background: #000;
    padding: 15px 0;
}

header .secondary-header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .secondary-header nav ul li {
    border-right: solid 1px #EFEFEF;
}

header .secondary-header nav ul li:last-child {
    border-right: none;
}

header .secondary-header nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}

header .secondary-header nav ul li:first-child a {
    padding-left: 0;
}

header .secondary-header nav a:hover {
    color: #FFDE00;
}

/* Social Links - Vamos reutilizar no footer */

.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links a {
    font-size: 20px;
    color: #FFF;
    transition: all ease-in 0.2s;
}

.social-links a:hover {
    color: #ab47bc;
}

.social-links li {
    margin-left: 10px;
}

/* Content Section */
.content-section {
    padding: 30px 0;
}

/* Poke List */
.poke-list {
    width: 75%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poke-list .poke-img {
    max-width: 100%;
}

.poke-list .poke {
    transition: all ease 0.3s;
    text-align: center;
    padding: 10px;
    border: solid 1px #DDD;
}

.poke-list .poke:hover {
    background: #EEE;
}

.poke-list .poke h2 {
    margin: 10px 0;
}
.poke-list .poke .price-from {
    text-decoration: line-through;
    font-size: 16px;
    color: #999;
    margin-top: 0;
    margin-bottom: 5px;
}

.poke-list .poke .price-to {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #00c853;
    font-weight: 700;
}

.poke-list .poke-buy-btn {
    width: 100%;
    border: 0;
    padding: 15px 5px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-list .poke-buy-btn img {
    width: 22px;
    margin-right: 8px;
}

@keyframes pokeBuyBtnAnimation {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.poke-list .poke:hover .poke-buy-btn {
    animation: pokeBuyBtnAnimation 5s ease infinite;
}


/* Aside */
aside {
    padding-left: 30px;
    width: 25%;
}

aside .poke-ads {
    display: block;
    height: 250px;
    background-image: url('../images/etc/mewtwo.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}
aside .poke-ads::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
aside .poke-ads>div {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    padding: 10px;
    width: 100%;
}

aside .poke-ads .poke-ads-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

aside .poke-ads .poke-ads-description {
    font-size: 12px;
}

/* Top Pokes Component - Vamos reutilizar ele no footer */
.top-pokes {
    margin-top: 30px;
}

.top-pokes h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    padding: 10px 0;
    margin: 0;
}

.top-pokes ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-pokes li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #EEE;
    transition: all ease 0.3s;
    cursor: pointer;
}

.top-pokes li:hover {
    background: #EEE;
}

.top-pokes li:last-child {
    border-bottom: 0;
}

.top-pokes span {
    font-size: 20px;
    font-weight: 300;
}

.top-pokes li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}

.top-pokes .poke-img {
    width: 50px;
    margin: 0 8px;
}

.newsletter {
    margin-top: 30px;
    padding: 30px 10px;
    background: #EEE;
}

.newsletter h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    border: 0;
    width: 100%;
}

.newsletter button {
    border: 0;
    padding: 10px;
    width: 100%;
    background: #000;
    color: #FFF;
    margin-top: 15px;
}

/* Footer */
footer {
    padding-top: 30px;
    background: #000;
}

footer .container {
    justify-content: space-between;
}

footer .footer-nav li {
    margin-bottom: 10px;
}

footer .footer-nav a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

footer .footer-nav a:hover {
    color: #FFDE00;
}

footer .copyright {
    background: #333;
    text-align: center;
    margin-top: 30px;
    color: #FFF;
    padding: 20px 0;
}

footer .top-pokes {
    margin-top: 0;
    color: #FFF;
}

footer .top-pokes li:hover {
    color: #000;
    background: #FFF;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .poke-list {
        width: 65%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    aside {
        padding-left: 30px;
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
        display: block;
    }

    header .main-header .links {
        margin-top: 0;
        position: absolute;
        right: 15px;
        top: 25px;
    }

    header .main-header .container>div {
        display: block;
    }

    header .main-header .search {
        margin-left: 0;
        margin-top: 10px;
    }

    header .main-header .search-input input {
        width: 100%;
    }

    header .main-header .search-input input:focus {
        width: 100%;
    }

    header .secondary-header .container {
        width: auto;
        overflow-x: scroll;
        display: flex;
    }

    header .secondary-header nav {
        display: inline;
    }

    header .secondary-header nav ul li {
        white-space: nowrap;
    }

    .poke-list {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    aside {
        width: 100%;
        flex: 1;
        padding-left: 0;
        margin-top: 30px;
    }
}