
@use '../config';

/* Header */
header .main-header {
    background: #ff7043;
    padding: 10px 0;
}

header .main-header .container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-header .store-title {
    font-size: 34px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

header .main-header .search {
    margin-left: 15px;
}

header .main-header .search-input  {
    position: relative;
}

header .main-header .search-input button {
    position: absolute;
    right: 3px;
    top: 3px;
}

header .main-header .search-input input {
    padding: 14px 30px 14px 15px;
    border: 0;
    width: 120px;
    border-radius: 6px;
    transition: width 0.2s ease-in;
}

header .main-header .search-input button {
    width: 40px;
    height: 40px;
    border: 0;
    background: url('../images/search-icon.png') no-repeat center center;
    cursor: pointer;
}

header .main-header .search-input input:focus {
    width: 240px;
    outline: 3px solid #e040fb;
}

header .main-header .links {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

header .main-header .links li {
    margin-left: 14px;
}

header .main-header .links a {
    color: #000;
    text-decoration: none;
    transition: all ease 0.2s;
}

header .main-header .links a:hover {
    color: #FFF;
}

header .secondary-header {
    background: #000;
    padding: 15px 0;
}

header .secondary-header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .secondary-header nav ul li {
    border-right: solid 1px #EFEFEF;
}

header .secondary-header nav ul li:last-child {
    border-right: none;
}

header .secondary-header nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}

header .secondary-header nav ul li:first-child a {
    padding-left: 0;
}

header .secondary-header nav a:hover {
    color: #FFDE00;
}

/* Social Links - Vamos reutilizar no footer */

.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links a {
    font-size: 20px;
    color: #FFF;
    transition: all ease-in 0.2s;
}

.social-links a:hover {
    color: #ab47bc;
}

.social-links li {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
        display: block;
    }

    header .main-header .links {
        margin-top: 0;
        position: absolute;
        right: 15px;
        top: 25px;
    }

    header .main-header .container>div {
        display: block;
    }

    header .main-header .search {
        margin-left: 0;
        margin-top: 10px;
    }

    header .main-header .search-input input {
        width: 100%;
    }

    header .main-header .search-input input:focus {
        width: 100%;
    }

    header .secondary-header .container {
        width: auto;
        overflow-x: scroll;
        display: flex;
    }

    header .secondary-header nav {
        display: inline;
    }

    header .secondary-header nav ul li {
        white-space: nowrap;
    }

    .poke-list {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    aside {
        width: 100%;
        flex: 1;
        padding-left: 0;
        margin-top: 30px;
    }
}